Source: gnuais
Section: universe/science
Priority: extra
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 7), cmake
Standards-Version: 3.8.3
Homepage: http://gnuais.sourceforge.net/ 

Package: gnuais
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNU Automatic Identification System receiver
 A tool for demodulating and decoding AIS messages using the line input of the sound card.
 AIS messages are transmitted by marine vessels and contain their position, velocity and other
 interesting information. The messages may be saved to an mysql-database, forwarded as NMEA
 packets or uploaded to an AIS web service. 
